.card {
    border: none;
}
.image {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainImg {
    z-index: 1;
}
.image:hover .secondImg {
    z-index: 2;
}
.image span {
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: white;
    color: teal;
    padding: 3px 5px;
    z-index: 3;
    border-radius: 20px;
    font-size: 10px;
}
.cardBody {
    margin: 8px 10px;
}
.cardBody h2 {
    font-size: 15px;
    font-weight: 700;
}
.cardBody .prices {
    display: flex;
    gap: 20px;
}
.cardBody .prices h3 {
    font-size: 20px;
    font-weight: 600;
}
.cardBody .prices h3:first-child {
    color: gray;
    text-decoration: line-through;
}


@media (max-width:991px) {
    .card {
        width: 300px;
        margin: 0 auto;
    }
}
@media (max-width:767px) {
    .card {
        width: 250px;
    }
}
@media (max-width:575px) {
    .card {
        width: 100%;
    }
}