.contact{
    background-color: #2879fe;
    color: white;
    padding: 20px 150px;
}
.contact .div_wrapper{
    display: flex !important;
    gap: 10px;
    align-items: center;
}
.contact input{
    padding: 5px;
    border: none;
    border-radius: 5px 0 0  5px;
}
.contact button{
    padding: 5px;
    color: white;
    background: #333;
    border-radius: 0 5px 5px 0;
    border: none;
}
.contact .icons{
    display: flex;
    align-items: center;
    gap: 10px;
}


@media (max-width: 1199px) {
    .contact .icons {
        width: 37%;
    }
    .contact .mail {
        width: 258px;
        display: flex;
    }
    .contact input{
        width: 50%;
    }
}
@media (max-width: 991px) {
    .contact{
        background-color: #2879fe;
        color: white;
        padding: 20px 100px;
    }
    .contact .icons {
        width: 0%;
    }
}
@media (max-width: 767px) {
    .contact{
        padding: 20px 80px 50px;
    }
    .icons {
        left: 78px;
    }
}
@media (max-width: 575px) {
    .contact{
        padding: 20px 30px 50px;
    }
    .icons {
        left: 30px;
    }
}