.products {
    padding: 0 50px;
    display: flex;
    gap: 20px;
}
.products .right {
    display: block;
}
.list {
    display: flex;
    gap: 20px;
}
.card {
    width: 221px;
}
.products .sideRight .sideRight_img {
    width: 59.7rem;
    height: 50vh;
    margin-bottom: 20px;
}
.products .sideRight .sideRight_img .catImg {
    width: 100%;
    height: 100%;
}

@media (max-width: 1199px) {
    .card {
        width: 162px;
    }
    .products .sideRight .sideRight_img {
        width: 45rem;
    }
}
@media (max-width: 1070px) {
    .card {
        width: 140px;
    }
    .products .sideRight .sideRight_img {
        width: 39.5rem;
    }
}
@media (max-width: 991px) {
    .card {
        width: 125px;
    }
    .products .sideRight .sideRight_img {
        width: 31rem;
    }
}




















.filter_products {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px 0;
}
.filter_products .inputItem {
    display: flex;
    gap: 15px;
}